@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.header {
  background-image: url("../assets/image_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.header h1, .header p {
  color: #fff;
}
.header h1 {
  margin-bottom: 0;
  padding-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.header p {
  margin-top: 0;
  margin-bottom: 28px;
  text-transform: capitalize;
  font-size: 12px;
}
.header input[type=text] {
  padding: 0.3rem 1.4rem;
  border: none;
}
.header input::placeholder {
  font-size: 9px;
}
.header .search-btn {
  position: absolute;
  right: 3rem;
  top: 6.45rem;
  outline: none;
  border: none;
  padding: 0.55rem;
  background: #5474FD;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5rem;
}
.header .fa-magnifying-glass {
  padding-left: 0.1rem;
}
.header .header-scroll-content {
  font-size: 12px;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
  cursor: pointer;
}
.header .header-scroll {
  margin-bottom: 0;
}
.header .header-arrow .fa-chevron-down {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    left: 85%;
  }
  .bar {
    display: block;
  }
  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }
  .mobile-nav {
    position: relative;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    padding-top: 120px;
    z-index: 98;
    transition: 0.4s;
  }
  .mobile-nav.is-active {
    left: 0;
  }
  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: white;
    color: #000;
  }
  .mobile-nav a:hover {
    background: #000;
    color: #fff;
  }
  .nav-list {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}